@import "tailwindcss";
@import "./variables.css";
@import "./text.css";

body {
  font-family: var(--font-family-base);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  height: 100vh;
}

button {
  cursor: pointer !important;
}