@import "tailwindcss";
@import "./variables.css";

body {
  font-family: var(--font-family-base);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  height: 100vh;
}

body .h1 {
  color: var(--color-primary);
}