h1 {
    font-size: 2.25rem;
    color: var(--color-primary);
    font-weight: bold;
}

h2 {
    font-size: 1.875rem;
    color: white;
    font-weight: semi-bold;
}

h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: semi-bold;
}

h4 {
    font-size: 1.15rem;
    color: var(--color-primary);
    font-weight: semi-bold;
}